* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Style */

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  background-color: #ffffff;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}
.cart-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: #333;
}
.cart-icon i {
  font-size: 18px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .nav-links li:not(.cart) {
    display: none;
  }
}

/* Responsive Design for banner*/
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    gap: 24px;
    text-align: left;
    width: 90%;
  }

  .banner-text h1 {
    font-size: 2rem;
  }

  .banner-text p {
    font-size: 0.95rem;
  }
}
